{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/news.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="container">

    <!-- News background -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 imagePath" style="background: url({{articles.urlToImage}}) no-repeat center center" id="poster">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
            <h3>{{ articles.name }}</h3>

            <p class="description"> {{ articles.description }}</p>
            <p class="ratings"> <b> {{ articles.publishedAt }}</b> - <i>{{ articles.author}}  </i> </p>
            


        </div>
    </div>


</div>
{% endblock %}